!!! 5
%html
  %head
    %title Bacino - The Sinatra-based Docker UI
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(href="/css/bootstrap.min.css" rel="stylesheet")
    %link(href="/css/bootstrap-theme.min.css" rel="stylesheet")
    %link(href="/css/application.css" rel="stylesheet")
    /[if lt IE 9]
      %script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      %script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
  %body

    .container
      %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
        .container
          .navbar-header
            %a.navbar-brand{href: '/'}
              Ctl-C Developer Edition
          %ul.nav.navbar-nav
            %li
              %a{href: '/images'} Images
            %li
              %a{href: '/containers'} Containers
            %li
              %a{href: '/settings'} Settings
      = yield

    %script(src="/vendor/jquery-1.10.2.min.js")
    %script(src="/vendor/bootstrap/js/bootstrap.min.js")