%nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
  .container
    .navbar-header
      %a.navbar-brand{href: '/'}
        Ctl-C Developer Edition
    %ul.nav.navbar-nav
      %li
        %a{href: '/images'} Images
      %li
        %a{href: '/containers'} Containers
      %li
        %a{href: '/settings'} Settings
